:root {
  --color-primary: #2563eb;
  --color-primary-light: #93c5fd;
  --color-bg: #f9fafb;
  --color-text-dark: #111827;
  --color-text-muted: #374151;
  --color-border: #d1d5db;

  --font-family: "Poppins", "Segoe UI", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;
}
