.admin-layout {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  padding-top: 60px;
}

.admin-content {
  flex: 1;
  padding: 2rem;
  transition: margin-left 0.3s ease;
}

.menu-abierto .admin-content {
  margin-left: 280px;
}

.menu-cerrado .admin-content {
  margin-left: 120px;
}

@media (max-width: 992px) {
  .menu-abierto .admin-content,
  .menu-cerrado .admin-content {
    margin-left: 0;
  }
}

